<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="SettingsDefaults" type="ADK.Demo.Config.ConfigSectionHandler, ADK.Demo" />
    <section name="SettingsLayout" type="DynamicSettings.ConfigSectionHandler, DynamicSettings" />
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <SettingsDefaults>
    <Setting name="EquatorialGrid" type="boolean" value="true" />
    <Setting name="LabelEquatorialPoles" type="boolean" value="false" />
    <Setting name="HorizontalGrid" type="boolean" value="false" />
    <Setting name="LabelHorizontalPoles" type="boolean" value="false" />
    <Setting name="EclipticLine" type="boolean" value="true" />
    <Setting name="LabelEquinoxPoints" type="boolean" value="false" />
    <Setting name="LabelLunarNodes" type="boolean" value="false" />
    <Setting name="GalacticEquator" type="boolean" value="true" />
    <Setting name="MilkyWay" type="boolean" value="true" />
    <Setting name="Ground" type="boolean" value="true" />
    <Setting name="HorizonLine" type="boolean" value="false" />
    <Setting name="LabelCardinalDirections" type="boolean" value="true" />
    <Setting name="Sun" type="boolean" value="true" />
    <Setting name="LabelSun" type="boolean" value="true" />
    <Setting name="SunLabelFont" type="font" value="Arial, 12pt" />
    <Setting name="TextureSun" type="boolean" value="true" />
    <Setting name="TextureSunPath" type="string" value="https://sohowww.nascom.nasa.gov/data/realtime/hmi_igr/1024/latest.jpg" />
    <Setting name="ConstLabels" type="boolean" value="true" />
    <Setting name="ConstLabelsType" type="ADK.Demo.Renderers.ConstellationsRenderer+LabelType, ADK.Demo" value="0" />
    <Setting name="ConstLines" type="boolean" value="true" />
    <Setting name="ConstBorders" type="boolean" value="true" />
    <Setting name="UseTextures" type="boolean" value="false" />
    <Setting name="EarthShadowOutline" type="boolean" value="false" />
    <Setting name="Stars" type="boolean" value="true" />
    <Setting name="StarsLabels" type="boolean" value="true" />
    <Setting name="StarsProperNames" type="boolean" value="true" />
    <Setting name="Ecliptic.Color.Night" type="color" value="#C8808000" />
    <Setting name="HorizontalGrid.Color.Night" type="color" value="#C8004000" />
    <Setting name="CardinalDirections.Color" type="color" value="#009999" />
  </SettingsDefaults>

  <SettingsLayout>
    <Section name="Grids" title="Grids and lines">
      <Setting name="EquatorialGrid" title="Equatorial grid" />
      <Setting name="LabelEquatorialPoles" title="Label celestial poles" enabledIf="{EquatorialGrid}=True" />
      <Setting name="HorizontalGrid" title="Horizontal grid" />
      <Setting name="LabelHorizontalPoles" title="Label zenith and nadir points" enabledIf="{HorizontalGrid}=True" />
      <Setting name="EclipticLine" title="Ecliptic" />
      <Setting name="LabelEquinoxPoints" title="Label equinox points" enabledIf="{EclipticLine}=True" />
      <Setting name="LabelLunarNodes" title="Label nodes of lunar orbit" enabledIf="{EclipticLine}=True" />
      <Setting name="GalacticEquator" title="Galactic equator" />
      <Setting name="MilkyWay" title="Draw Milky Way outline" />
      <Setting name="Ground" title="Draw ground" />
      <Setting name="HorizonLine" title="Horizon line" />
      <Setting name="LabelCardinalDirections" title="Label cardinal directions" enabledIf="{HorizonLine}=True"  />
    </Section>
    <Section name="Sun" title="Sun">
      <Setting name="Sun" title="Draw Sun" />
      <Setting name="LabelSun" title="Draw label" enabledIf="{Sun}=True" />
      <Setting name="SunLabelFont" title="Label font" enabledIf="{Sun}=True" />
      <Setting name="TextureSun" title="Use texture" enabledIf="{Sun}=True" />
      <Setting name="TextureSunPath" title="Solar texture web path" enabledIf="{Sun}=True AND {TextureSun}=True" />
    </Section>
    <Section name="Constelations" title="Constelations">
      <Setting name="ConstLabels" title="Constellations Labels" />
      <Setting name="ConstLabelsType" editor="radio" title="Labels type" enabledIf="{ConstLabels}=True" />
      <Setting name="ConstLines" title="Constellations Lines" />
      <Setting name="ConstBorders" title="Constellations Borders" />
    </Section>

    <Section name="Stars" title="Stars">
      <Setting name="Stars" title="Draw Stars" />
      <Setting name="StarsLabels" title="Draw stars labels" enabledIf="{Stars}=True" />
      <Setting name="StarsProperNames" title="Display proper names" enabledIf="{StarsLabels}=True" />
    </Section>

    <Section name="Other">
      <Setting name="UseTextures" title="Use textures" />
      <Setting name="Ecliptic.Color.Night" title="Ecliptic line"/>
      <Setting name="HorizontalGrid.Color.Night" title="Horizontal grid" />
      <Setting name="CardinalDirections.Color" title="Cardinal directions" />
      <Setting name="SomeFolder" title="Log directory" editor="directorypicker" />
      <Setting name="EarthShadowOutline" title="Draw Earth shadow outline" />
    </Section>
  </SettingsLayout>
  
</configuration>
