<?xml version="1.0" encoding="utf-8" ?>
<Settings>

  <Section name="Grids" title="Grids and lines">
    <Setting name="EquatorialGrid" value="true" title="Equatorial grid" />
    <Setting name="LabelEquatorialPoles" value="false" title="Label celestial poles" dependsOn="EquatorialGrid" enabledIf="true" />
    <Setting name="HorizontalGrid" value="false" title="Horizontal grid" />
    <Setting name="LabelHorizontalPoles" value="false" title="Label zenith and nadir points" dependsOn="HorizontalGrid" enabledIf="true" />
    <Setting name="EclipticLine" value="true" title="Ecliptic" />
    <Setting name="LabelEquinoxPoints" value="false" title="Label equinox points" dependsOn="EclipticLine" enabledIf="true" />
    <Setting name="GalacticEquator" value="true" title="Galactic equator" />
    <Setting name="MilkyWay" value="true" title="Draw Milky Way outline" />
    <Setting name="Ground" value="true" title="Draw ground" />
    <Setting name="LabelCardinalDirections" value="true" title="Label cardinal directions" />
  </Section>

  <Section name="Constelations" title="Constelations">
    <Setting name="ConstLabels" value="true" title="Constellations Labels" />
    <Setting name="ConstLabelsType" type="ADK.Demo.Renderers.ConstellationsRenderer+LabelType, ADK.Demo" value="0" title="Labels type" control="radio" dependsOn="ConstLabels" enabledIf="true" />
    <Setting name="ConstLines" value="true" title="Constellations Lines" />
    <Setting name="ConstBorders" value="true" title="Constellations Borders" />
  </Section>
  
  <Section name="Other">
    <Setting name="UseTextures" value="false" title="Use textures" control="checkbox" />
    <Setting name="Ecliptic.Color.Night" title="Ecliptic line" type="color" value="#C8808000" />
    <Setting name="HorizontalGrid.Color.Night" title="Horizontal grid" type="color" value="#C8004000" />
    <Setting name="CardinalDirections.Color" title="Cardinal directions" type="color" value="#009999" />
  </Section>


</Settings>